<%- include('partials/header') %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
    </svg>
  
      <a class="navbar-brand" href="#">FFCs exchanger</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/users/dashboard">Home</a>
          <a class="nav-link" href="/tasks">Find Slots</a>
          <a class="nav-link" href="/createtasks">Create Slots</a>
          <a class="nav-link" href="/users/Requests">Exchange Requests</a>
          <a class="nav-link" href="/users/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>
<div class="container mt-5">
    <h1>Requests</h1>
  
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-group">
          <% tasks.forEach(function(task) { %>
            <li class="list-group-item">
                <strong>From :</strong> <%= task.from %><br>
                <strong>Contact:</strong> <%= task.contact %><br>
              <strong>For Slot:</strong> <%= task.slot %><br>
              
              
              
              
              <!-- Added contact field -->
              
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
 
  
<%- include('partials/footer') %>